* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #6e675f;
    box-sizing: border-box;
    flex-direction: column;
    color: #e3d23c;
    font-size: 20px;
    font-weight: 400;
    min-width: 320px;
    line-height: 2;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
} 
nav {
    display: block;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e3d23c;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.cv_navigator {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    width: 100%;
}
a:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    text-decoration: underline;
}
.about_me {
    background-color: #edebd7;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: row;
    gap: 30px;
   
}
.profile_foto {
    display: flex;
    align-items: center;
}
.information {
    color: #6e675f;
    display: flex;
    flex-direction: column;
}
.text {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 100px 100px 1fr;
    grid-gap: 10px;
    width: 100%;
    padding: 10px;
  }
  .contact_icon_1 {
      display: flex;
      justify-content: right;
  }
  .contact_icon_2 {
    display: flex;
    justify-content: left;
}
.contact_item_1 {
    display: flex;
    justify-content: right;
    text-align: center;
    align-items: center;
    padding: 10px;
}
.contact_item_2 {
    display: flex;
    justify-content: left;
    text-align: center;
    align-items: center;
    
}
.contact_icon_1:hover {
    transform: scale(1.1);
}
.contact_icon_2:hover {
    transform: scale(1.1);
}
.contact_link {
    color: pink;
}