* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    transition: 0.3s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #6e675f;
    box-sizing: border-box;
    flex-direction: column;
    color: #e3d23c;
}